body {
    font-family: 'Courier New', monospace;
    background-color: #0f0f0f;
    color: #f0f0f0;
    text-align: center;
    padding-top: 20%;
}
.container {
    padding: 20px;
}
#countdown {
    font-size: 2em;
    margin: 20px 0;
}
.mensaje {
    font-style: italic;
    color: #aaa;
}